.btn {
	&:focus {
		outline: none;
	}
	&__left {
		width: auto !important;
		display: inline-block;
	}
	&__right {
		width: auto !important;
		display: block;
		float: right;
		margin-left: 10px !important;
	}
	&__right-5 {
		width: auto !important;
		display: block;
		float: right;
		margin-left: 6px !important;
	}
	&__center {
		width: 100% !important;
		display: inline-block;
		text-align: center !important;
		padding-left: 0 !important ;
		padding-right: 0 !important;
	}

	&-header {
		width: 100%;
		border: 2px solid @gray-light;
		background: none;
		padding: 11px 0;
		text-align: center;	
	}
	&__blue {
		color: white;
		text-align: center;
		background: @blue;
		width: auto;
		margin: 0 auto;
		display: block;
		text-transform: uppercase;
		font-size: 20px;
		height: 40px;
		line-height: 42px;
		padding: 0 25px;
		text-decoration: none;
		font-family: 'Scada-bold';
		border: none;
		transition: all 0.2s;
		&:hover {
			text-decoration: none;
			color: white;
			background: darken(@blue, 5%);
		}
		&:visited {
			color: white;
			text-decoration: none;
		}
		&_mini {
			color: white;
			text-align: center;
			background: @blue;
			width: auto;
			border: none;
			padding: 5px 15px;
			&:focus {
				 outline: none;
			}
		}
	}
	&__gray {
		color: white;
		text-align: center;
		background: #4f5c64;
		width: auto;
		margin: 0 auto;
		display: block;
		text-transform: uppercase;
		font-size: 20px;
		height: 40px;
		line-height: 42px;
		padding: 0 25px;
		text-decoration: none;
		font-family: 'Scada-bold';
		border: none;
		transition: all 0.2s;
		&:hover {
			text-decoration: none;
			color: white;
			background: darken(#4f5c64, 5%);
		}
		&:visited {
			color: white;
			text-decoration: none;
		}
	}
	&__gray-light {
		color: white;
		text-align: center;
		background: #caced0;
		width: auto;
		margin: 0 auto;
		display: block;
		text-transform: uppercase;
		font-size: 20px;
		height: 40px;
		line-height: 42px;
		padding: 0 25px;
		text-decoration: none;
		font-family: 'Scada-bold';
		border: none;
		transition: all 0.2s;
		&:hover {
			text-decoration: none;
			color: white;
			background: darken(#4f5c64, 5%);
		}
		&:visited {
			color: white;
			text-decoration: none;
		}
	}
	

	&-win-login {
		width: 280px;
		line-height: 40px;
		margin: 0 auto 35px;
		display: block;
		&:hover {
			text-decoration: none;
			color: white;
		}
	}
	&-filter {
		line-height: 38px;
		//margin: 0 auto 35px;
		display: block;
		height: 40px;
		display: inline-block;
		padding: 0 25px;
		float: left;
		font-size: 17px;
	}



	&__ring {
		width: 100%;
		border-radius: 32px;
		background: @gray;
		border: 0;
		margin-bottom: @sp/3;
		height: 32px;
		line-height: 32px;
		text-align: left;
		padding: 0 @sp;
		font-family: 'Scada-bold';
		font-size: 17px;
		color: darken(@gray, 60%);
		i {
			margin-right: @sp;
			margin-top: 3px;
			vertical-align: middle;
		}
		&_blue {
			background: @blue;
			color: white;
		}
		&_big {
			height: 42px;
			line-height: 42px;
			text-transform: uppercase;
			padding: 0 19px;
			font-size: 18px;
		}

		&_margin-top {
			margin-top: @sp*2;
		}
	}

	&__red {
		color: white;
		text-align: center;
		background: @red;
		width: auto;
		margin: 0 auto;
		display: block;
		text-transform: uppercase;
		font-size: 20px;
		height: 40px;
		line-height: 40px;
		padding: 0 25px;
		text-decoration: none;
		font-family: 'Scada-bold';
		&:hover {
			text-decoration: none;
		}
		&_big {
			height: 45px;
			line-height: 45px;
			text-transform: uppercase;
			padding: 0 @sp*2;
			font-size: 18px;
			background: @red;
			color: white;
		}
		&_mini {
			color: white;
			text-align: center;
			background: @red;
			width: auto;
			border: none;
			padding: 5px 15px;
			&:focus {
				 outline: none;
			}

		}
	}

	&__padding-19 {
		padding: 0 19px;
	}

	&__small-text {
		font-size: 17px;
		padding: 0 22px;
	}
	&__icon {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 30px;
		color: white;
		transition: background 0.2s;
		border: none;
		background: @blue;
		&:hover {
			background: darken(@blue, 10%);
		}
		&_black {
			background: #4f5c64;
			&:hover {
				background: darken(#4f5c64, 10%);
			}
		}
	}
	&__allert {
		position: relative;
		border-bottom: 6px solid transparent;
		&-text {
			display: none;
			position: absolute;
			background: white;
			padding: 10px 15px;

			
			border-radius: 3px;
			box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.13);
			position: absolute;
			left: 40px;
			top: calc(~"100% + 6px");
			width: 320px;
			z-index: 10;
			font-size: 14px;
			color: #a1a1a1;
			font-family: Scada;
			line-height: 1.2;

		}
		&:hover {
			.btn__allert-text {
				display: block;
			}
		}
	}

	&__radio {

		&-wrap {
		}

		&-elem {
			float: left;
			font-family: Scada;
			color: #000;
			font-size: 16px;
			padding: 10px 25px 10px 0px;
		}

		vertical-align: top;
		width: 20px;
		height: 20px;
		margin: 0 3px 0 0;

		& + label {
			cursor: pointer;
		}
		&:not(checked) {
			position: absolute;
			opacity: 0;
		}
		&:not(checked) + label {
			position: relative;
			padding: 0 0 0 @sp*2;
		}
		&:not(checked) + label:before {
			content: '';
			position: absolute;
			top: 0px;
			left: 0;
			width: 22px;
			height: 22px;
			border: 2px solid #dddfe3;
			border-radius: 50%;
			background: #FFF;
		}

		&:checked + label:before {
			border: 2px solid @blue;	
		}

		&:not(checked) + label:after {
			content: '';
			position: absolute;
			top: 5px;
			left: 5px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: @blue;
			opacity: 0;
			transition: all .2s;
		}
		&:checked + label:after {
			opacity: 1;
		}
		
	}

	&__plan-wrap {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&_disabled {
		opacity: 0.5;
		cursor: default;
		
		&.btn__blue,
		&.btn__icon_blue {
			background: #01aeea;
		}

		&.btn__gray,
		&.btn__icon_black {
			background: #4f5c64;
		}
	}
}