.comments {
	&__comment {
		background: white;
		margin-bottom: 20px;
		min-height: 145px;
		.clearfix;
		&-img {
			position: absolute;
			top: -10px;
			left: 20px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background: url(../../img/no-photo.png) no-repeat center center;
		}
		&-info {
			position: relative;
		}
		&-autor {
			line-height: 1.1;
		    font-family: Scada-bold;
		    font-size: 17px;
		    margin-left: 145px;
		    margin-top: @sp*2;
		}
		&-text {
			margin: @sp*2 @sp*2 @sp*2 -@sp/2;
		}
		&-data {
				line-height: 1.1;
			    font-family: Scada-bold;
			    font-size: 20px;
			    margin-left: 145px;
			    margin-top: @sp;
			    color: @red;
		}


	}

	&__buttons {
		.clearfix;
		&-elem {
			float: right;
			font-size: 15px;
			font-family: Scada;
			line-height: 1.467;
			margin-left: @sp*2;
			margin-top: @sp;
			color:@red;
			text-decoration: none;
			
			&:hover {
				text-decoration: none;
			}
			
			i {
				position: relative;
				top: 3px;
				font-size: 20px;
				line-height: 0;
				margin-right: 4px;
			}

			&_blue {
				color: @blue;
			}

		}
	}
}