.feedback-events {
	margin: 0 auto;
	width: 1150px;
	padding-bottom: 50px;
	.clearfix;
	
	&__item {
		position: relative;
		margin-left: 15px;
		margin-right: 15px;
	}

	&__stars {
		padding: 29px 0 7px;
		.clearfix;
		
		.stars__star {
			margin-right: 3px;
		}
	}

	&__appraisal {
		margin: 25px 0 0;
		width: 145px;

		&-img {
			width: 100%;
		}

	}
	&__img {
		background-size: cover !important;
		background: url('@{imageBase}no-photo.png') no-repeat center center;
		border-radius: 50%;
		height: 100px;
		//left: 20px;
		position: absolute;
		top: -10px;
		width: 100px;
	}
	&__info {
		position: relative;
	}
	&__name {
		line-height: 1.1;
	    font-family: Scada-bold;
	    font-size: 17px;
	    margin-left: 128px;
	    margin-top: -4px;
	    width: 125px;
	    color: #000;
	}
	&__text {
		border-bottom: 1px solid darken(@gray, 20%);
		color: #727272;
		font-family: Scada-Italic; 
		font-size: 15px;
		margin: 5px 0 20px;
		height: 123px;
		overflow: hidden;
		line-height: 1.35;
	}
	&__data {
		line-height: 1.1;
	    color: @red;
	    font-family: Scada-bold;
	    font-size: 20px;
	    margin-left: 128px;
	    margin-top: 13px;
	}
	&__iventname {
		font-family: Scada-bold;
		font-size: 17px; 
		line-height: 1.2;
		color: #000;
		&-type {
			color: darken(@gray, 40%);
			font-family: Scada; 
			font-size: 14px; 
			margin-bottom: @sp/3;
		}
	}
}