.lk {
	&__wrap {
		margin: 0 auto;
		width: 1150px;
		.clearfix;
	}
	&__link {
		margin-left: 220px;
		font-size: 16px;
		font-family: Scada;
		color: #727272;
		margin-bottom: -8px;
		line-height: 1;

		.clearfix;
		a {
			color: black;
			text-decoration: underline;
			font-size: 16px;
		}
		i {
			font-size: 30px;
			float: left;
			margin-top: -6px;
			margin-right: 5px;
		}
		&_task {
			min-height: 35px;
			line-height: 1.2;
			i {
				color: @green;
			
			}
			&-value {
				color: @green;
				font-family: Scada-Bold;
				font-size: 20px;
			}
		}
		&_goplan {
			min-height: 35px;
			line-height: 1.2;
			i{
				color: @blue;
				margin-top: -8px;
			}
		}
	}
	&__h2 {
		margin: 0;
		font-family: 'Scada-Bold';
		font-size: 40px;
		padding-bottom: 33.5px;
		padding-top: 33.5px;
		line-height: 1;
		color: #000;
		
		width: 100%;
		min-height: 107px;
		.clearfix; 
		
		i {
    		width: 35px;
    		margin-right: 5px;
		}

		&_elect {
			i {
				color: @red;
				font-size: 35px;
				margin-right: @sp;
    			width: 35px;
    			margin-right: 5px;
			}
			
		}
		span {
			color: @red;

		}

		&_doun-arrow {


			 i {
			 	display: inline-block;
			 	color: #000;
			 	transform: rotate(0deg);
			 	transition: 0.3s;
			 }

			 a.collapsed i{
			 	transform: rotate(180deg);			 	
			 }

			 a {
			 	color: #000;
			 	text-decoration: none;
			 	
			 	&:hover {
			 		text-decoration: none;
			 		color: #000;
			 	}

			 	&:focus {
			 		text-decoration: none;
			 		color: #000;
			 	}
			 }
			
		}
	}
	&__userinfo {
		background: white;
		padding: 38px 40px;
		margin-bottom: 13px;
		position: relative;
		.clearfix;
		
		.col-xs-4 {
			padding-left: 30px;
		}

		&-edit {
			background: @blue;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			color: white;
			text-align: center;
			width: 60px;
			height: 60px;
			line-height: 60px;
			font-size: 19px;
			cursor: pointer;
			transition: all 0.2s;
			&:hover {
				background: lighten(@blue, 10%);
			}
			&.mob {
				display: none;
			}
		}
		&-go-lk {
			color: @blue;
			font: 15px Scada;
			position: absolute;
			top: 240px;
			left: 40px;
			z-index: 10;
			i {
				font-size: 24px;
				margin-right: 5px;
				display: inline-block;
				margin-top: -5px;
				float: left;
			}
		}
		&-title {
			color: darken(@gray, 40%);
			font-family: Scada-Bold;
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 6px;
		}
		&-comment {
			display: none;
			margin-left: 220px; 
			margin-top: @sp*2;
			&-quantity {
				display: inline-block;
				background: @green;
				color: white;
				height: 40px;
				width: 40px;
				line-height: 40px;
				font-family: Scada-Bold;
				font-size: 24px;
				text-align: center;
				border-radius: 50%;
				margin-right: @sp/2;
				vertical-align: middle;
			}
			a {
				color: @green;
				font-family: Scada;
				font-size: 16px;
				text-decoration: none;
				border-bottom: 1px solid;
				&:hover {
					text-decoration: none;
				}

			}
		}

		&_padding-bottom {
			padding-bottom: 23px;
			margin-bottom: 8px;
		}
	}
	&__userphoto {
		width: 180px;
		height: 180px;
		display: block;
		position: relative;
		background: black;
		background-size: cover !important;
		float: left;
		&:before {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 40px;
			background: url(../../img/blue-angle.svg);
			
		}
		&:after{
			content:'';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 40px;
			height: 40px;
			background: url(../../img/red-angle.svg);
		}


	}
	&__name {
		margin-left: 220px;
	    color: #000;
	    font-family: Scada-Bold;
	    font-size: 22px;
	    text-transform: uppercase;
	    margin-top: 50px;
	    margin-bottom: 17px;
	    line-height: 0.7;
	    height: 22px;
	    &_lecturer {
	    	margin-top: 0;
	    	margin-bottom: 26px;
	    }
	}
	&__subscribe {
		margin-left: 220px;
		i {
			font-size: 22px;
			margin-right: @sp/3;
			vertical-align: sub;
		}
	}
	&__contactblock {
		margin-top: 13px;
		font-family: 'Scada';
		font-size: 16px;
		i {
			position: absolute;
			left: -25px;
			top: 2px;
			font-size: 18px;
		}
		&_lecturer {
			margin-top: -3px;
		}
		&-btn {
			margin-left: -@sp*2;
			margin-bottom: 20px;
			i {
				margin-right: @sp/3;
			}
			.btn {
				margin-top: 2px !important;
			}
		}


	}
	&__tell {
		display: inline-block;
		position: relative;
		margin-bottom: 9px;
		color: black; 
		&:hover {
			text-decoration: none;
		}
	}
	&__mail, &__skype, &__map-case, &__clock  {
		display: inline-block;
		position: relative;
		margin-bottom: 9px;
		color: black;
		text-decoration: underline;
	}

	&__map-case, &__clock {
		i {
			color: @red;
		}
	} 

	&__skype  {
		margin-bottom: 25px;
	}
	&__elect {

		//.col-xs-12 {
		//	width: 101.4%;
		//}


		.clearfix;
		.activities-calendar__return {
			margin-right: 0;
			&-link {
				line-height: 30px;

			}
		}
		&_lecturer {
			margin-bottom: 0;
		}
	}
	&__done {

		& .row.collapse {
			border: 0px solid #ccc;			
		}
		.clearfix;
		.activities-calendar__return {
			margin-right: 0;
			&-link {
				line-height: 30px;

			}
		}
	}
	&__position {
		margin-left: 220px; 
		&-text {
			font-family: 'Scada';
			font-size: 16px;
		}    
	}

	&__stars {
		display: block;
		margin-left: 215px; 
		height: 52px;
		margin-top: -18px;
		.clearfix;
		
		&-count {
		  font-size: 18px;
		  font-family: 'Scada';
		  color: #8d8d8d;
		  ine-height: 1.7;
		  margin-left: 157px;
		}

		.stars__star {
			margin-right: 4px;
		}
	}

	&__honors {
		margin-left: 217px; 
		margin-top: 28px;
		&-item {
			font-family: 'Scada';
			font-size: 16px;
			color: black;
			padding-right: @sp*2;
			line-height: 1.5;
			span {
				font-family: 'Scada-bold';
				font-size: 18px;
				margin-right: 4px;
				width: 45px;
				display: inline-block;
			}
		}
	}
	&__rezult {
		margin-left: 4px; 
		margin-top:12px;
		i {
			position: absolute;
			left: -30px;
			top: 7px;
			font-size: 18px;
			color: @blue;
			font-size: 22px;
		}
		&-item {
			display: block;
			position: relative;
			color: black; 
			font-family: 'Scada';
			font-size: 16px;
			text-decoration: underline;
			float: left;
    		margin-right: 70px;
    		
    		&:last-child {
    			margin-right: 0px;
    		}

			&:hover {
				text-decoration: none;
			}

			span {
				font-size: 24px;
				font-family: 'Scada-bold';
				display: inline-block;
				min-width: 25px;
				margin-right: 3.5px;
			}
		}

	}


	&__soc {
		margin-left: 5px;
		margin-top: -5px;
		&-elem {
			display: inline-block;
			position: relative;
			left: -30px;
			background: @red;
		    color: white;
		    height: 24px;
		    width: 24px;
		    display: block;
		    text-align: center;
		    line-height: 27px;
		    border-radius: 50%;
		    font-size: 14px;
		    margin-right: 7px;
		    float: left;
		    transition: all 0.2s;
		    outline: none;
		    a {
		    	text-decoration: none;
		    	outline: none;
		    }		    
		    &:hover {
		    	background: @blue;
		    	text-decoration: none;
		    	
		    	.lk__soc-text {
		    		opacity:1;
		    	}
			    a {
			    	text-decoration: none;
			    	outline: none;
			    }
		    }
		    &:active {
		    	background: @blue;
		    }
		    
		    i {
		    	color: #fff;
		    	outline: none;
		    }



		}

		&-text {
  			border-radius: 3px;
  			background-color: rgb(255, 255, 255);
  			box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.13);
  			position: absolute;
  			left: 15px;
  			top: 25px;
			padding: @sp/3 @sp;
  			z-index: 295;
  			color: #000;
  		  	font-size: 14px;
  			font-family: Scada; 
  			color: rgb(161, 161, 161);
  			opacity:0;
			transition: .3s;
			white-space: nowrap;
		}
	} 

	&__places {
		border-top: 1px solid #cecece;
		padding: 20px 0 0;
		margin-top: @sp*2;
		
		&-elem {
			float: left;
			padding-right: 25px;
			color: #727272;
			font-size: 15px;
			line-height: 1.467;
			font-family: Scada; 
			
			i {
				position: relative;
				top: 2px;
				line-height: 0;
				font-size: 16px;
				color: #d3d3d3;
			}
		}
	}

	&__superiors {
		margin-left: 220px;
		font-size: 16px;
		font-family: Scada-bold;
		color: #727272;
		margin-bottom: 20px;
		
		&-name {
			display: block;
			color: #000;
			text-decoration: underline;
		}
	}

	&_worker {
		padding-bottom: 23px;
		padding-top: 35px;
		margin-bottom: 8px;
		
		& .lk__userphoto {
			margin-top: 3px;
		}

		& .lk__name {
			margin-top: 4px;
			margin-bottom: 10px;
		}

		& .lk__position {
			font-size: 16px;
			font-family: Scada-bold;
			margin-bottom: @sp;
		}	

		& .lk__contactblock {
			margin-top: 0;
			
			& ul {
				margin-bottom: 20px;
			}
		}

		& .lk__mail,& .lk__skype {
			margin-bottom: 8px;
		}

		& .lk__places {
			margin-top: 34px;
		}

		&-list {
			& .slick-prev, & .slick-next {
				top: 87px;
			}

			& .activities-calendar__return {
				margin: 13px 0 0 40px;
			}

			& .activities-calendar__return-link {
				line-height: 1;
			}

			& .activities-calendar__return-link i {
				position: relative;
				top: 2px;
				right: 5px;
			}
		}
		&__map {
			min-height: 600px;
			position: relative;
			&-label {
				display: inline-block;
				color: black;
				font-size: 15px;
				margin-right: @sp;
				font-family: Scada;


			}
			&-tabs {
				position: absolute;
				top: 40px;
				left: 0;
				font-family: Scada;
			}
			&-tab {
				display: inline-block;
				background: white;
				width: 100px;
				height: 30px;
				line-height: 30px;
				color: #a1a1a1;
				text-align: center;
				transition: all 0.2s;
				cursor: pointer;
				&:hover {
					background: darken(white, 50%);
					color: white;
				}
				&.active {
					background: @blue;
					color: white;
				}
			}
			&-info {
				position: absolute;
				left: 0;
				top: 125px;
				width: 240px;
			}
			&-logo {
				background: url(../../img/v-logo.png) no-repeat;
				height: 80px;
				width: 100px;
			}
			&-value {
				color: @red;
				font-size: 72px;
				font-family: Scada-Bold;
			}
			&-text {
				color: black;
				font: 24px/1.2 Scada-Bold;

			}
		}
		&__report {
			.clearfix;
			padding-bottom: 40px;
			border-bottom: 2px solid #dddfe3;
			&-regions {
				margin-bottom: 60px;
				&-title {
					font: 30px/1 Scada-Bold;
					color: black;
					text-transform: uppercase;
					margin-bottom: 25px;
					span {
						color: @red;
					}
				}
				&-star {
					background: url(../../img/star-krm.svg) no-repeat;
					position: relative;
					width: 51px;
					height: 74px;
					position: absolute;
					top: -20px;
					right: 50px;

				}
				&_top {
					.lk_worker__report-regions-title {
						span {
							color: @blue;
						}
					}
					.lk_worker__report-regions-value {
						background: @blue;
					}
				}
				&-list {

				}
				&-item {
					margin-bottom: 3px;
					&.active {
						.lk_worker__report-regions-name {
							font-family: Scada-Bold;
						}
					}
				}
				&-value {
					display: inline-block;
					color: white;
					background: @red;
					width: 85px;
					text-align: center;
					font: 22px Scada;
					margin-right: 5px;
					height: 28px;
					line-height: 28px;
				}
				&-name {
					display: inline-block;
					font: 19px Scada;
					width: calc(~"100% - 95px");
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					height: 27px;
					vertical-align: middle;
				}
			}
			&-tasks {
				&-item {
					padding: 20px;
					background: white;
					position: relative;
					margin-bottom: @sp;
				}
				&-h3 {
					font: 30px/0.8 Scada-Bold;
					height: 65px;
					padding-bottom: @sp;
					display: table-cell;
					vertical-align: bottom;
					.clearfix;
				}
				&-date {
					font: 15px Scada-bold;
					color: black;
					margin-bottom: @sp;
					i {
						color: #797979;
						margin-right: 5px;
						
					}
				}
				&-text {
					font: 15px/1.3 Scada;
					color: #727272;
					margin-bottom: 20px;
				}
				&-user {
					color: #727272;
					font: 15px Scada;
					span {
						color: black;
						font: 15px Scada-bold;
					}
				}
				&-icons {
					position: absolute;
					top: 0;
					right: 0;
				}
				&-icon {
					background: @blue;
					width: 45px;
					height: 45px;
					text-align: center;
					color: white;
					float: right;
					font: 14px/45px Scada-Bold;
					i {
						font-size: 25px;
					}
					&_red {
						background: @red;
					}
					&_green {
						background: @green;
					}
					&_b75 {
						background: darken(@blue, 10%);
					}
					&_b50 {
						background: @blue;
					}
					&_b25 {
						background: lighten(@blue, 10%);
					}
				}
				&-all {
					text-align: right;
					font: 20px/1 Scada-Bold;
					color: black;
					margin-top: 25px;
					cursor: pointer;
					transition: all 0.2s;
					&:hover {
						color: lighten(black, 40%);
					}
					i {
						float: right;
						font-size: 24px;
						margin-left: 5px;
						margin-top: -2px;
					}
				}
			}
		}
	}
}

