    .stars {
        .clearfix;
        display: inline-block;
        &__star {
                float: left;
                margin-right: 5px;
                width: 26px;
                height: 26px;
                background-image: url(../../img/stars.svg);
                background-repeat: no-repeat;
                background-size: 26px 86px;

                
            &_full {
               background-position: 0 0;

                &-big {
                    width: 36px;
                    height: 36px; 
                }
            }

            &_half {
               background-position: 0 -32px;

               &-big {
                    width: 36px;
                    height: 36px; 
                     background-position: 0 -43px;
               }
            }

            &_empty {
               background-position: 0 -61px;

               &-big {
                    width: 36px;
                    height: 36px;
                    background-position: 0 -82px; 
               }
            }
          
        }
    }