.teatcher {
	overflow: visible;
	&__title-top {
		font-family: 'Scada-bold';
		text-align: center;
		margin: 0;
		padding: 0;
		font-size: 32px;
		color: #010101;
		margin-top: -5px;
	}
	.sert__input {
		height: 40px;
		//width: calc(~"100% - 178px");
		width: 100%;
		font-family: Scada;
		&_dp {
			width: 200px;
			border-radius: 0;
		}
		&_date {
			width: 150px;
			margin-left: 10px;
		}
	}


	.sert__block_row {
		padding-top: 10px;
	}
	.sert__name_w {
		width: 178px;
		span {
			font-size: 14px;
			margin-top: 10px;
			font-family: Scada-Italic;
			line-height: 1.1;
			display: block;
		}
	}
	.sert__hr {
		margin: 25px 0 15px; 
		color: #a1a1a1;
	}
	.sert__block-gray {
		width: 100%;
	}
	&__title {
		font-family: Scada-bold; 
		font-size: 22px;
		color: black;
		cursor: pointer;
		i {
			margin-right: @sp;
			transform: rotate(-180deg);
			display: block;
			float: left;
			margin-top: 5px;
			transition: all 0.2s !important;
		}
		&.active {
			i {
				transform: rotate(0deg);
			}
		}
		span {
			font-size:14px;
			color: #9b9b9b;
			font-family: Scada-Italic;
		}
		&_tell {
			margin-bottom: 15px;
		}
	}
	&__infoblock { 
		margin-top: 10px;
		&.close {
			display: none;
		}
	}
	&__item {
		.clearfix;
		margin: 20px 0;
		&-left {
			width: 100%;
			float: left;
		}
		sup {
			position: relative;
			top: 0px;
			color: #eb5427;
			font-size: 1.2em;
		}

		&_time-xperience {
			display: inline-block;
			font-family: Scada;
			font-size: 16px;
			line-height: 2.3;
			margin-top: 18px;
			margin-bottom: -4px;
			& .teatcher__label {
				float: left;
			}

			& .sert__input_date {
				float: left;
				margin-right: 5px;
			}

			& .teatcher__line-input {
				line-height: 0;
			}
		}

		&_work-experience {
			display: table;
			width: 318px;
			float: left;
			color: #a1a1a1;
			font-size: 16px;
			line-height: 1.125em;
			font-family: 'Scada';
			box-sizing: border-box;
			
			&:last-child {
				float: right;
			}
			
			&-name {
				display: table-cell;
				vertical-align: middle;
				width: 171px;
			}

			& .sert__input {
				width: 135px;
				float: right;
			}
		}

		&_strit {
			width: 380px;
			float: left;
			display: table;

			
			&-name {
				display: table-cell;
				vertical-align: middle;
				width: 178px;
				text-align: left;
				color: #a1a1a1;
				padding-right: 30px;
				font-size: 16px;
				line-height: 1.125em;
				font-family: 'Scada';
				box-sizing: border-box;
			}
			.sert__input {
				width: 200px;
				float: left;
			}
		}
		&_home {
			margin-left: 13px;
			width: 150px;
			float: left;
			display: table;
			&-name {
				display: table-cell;
				vertical-align: middle;
				width: 50px;
				text-align: left;
				color: #a1a1a1;
				padding-right: @sp;
				font-size: 16px;
				line-height: 1.125em;
				font-family: 'Scada';
				box-sizing: border-box;
			}
			.sert__input {
				width: 100px;
				float: left;
			}
		}
		&_apartment {
			margin-left: 13px;
			width: 110px;
			float: left;
			display: table;
			&-name {
				display: table-cell;
				vertical-align: middle;
				width: 35px;
				text-align: left;
				color: #a1a1a1;
				padding-right: @sp;
				font-size: 16px;
				line-height: 1.125em;
				font-family: 'Scada';
				box-sizing: border-box;
			}
			.sert__input {
				width: 75px;
				float: left;
			}
		}
		
	}



	&__line {
		.clearfix;
		&-input {
			float: left;
			width: 495px;
			position: relative;
		}
	}

	&__input {
		display:none;
	}
	&__label {
		display: inline-block;
		font-family: Scada;
		font-size: 16px; 
		margin-top: 10px;   
	}
	&__input + label span {
		display:inline-block;
		width:19px;
		height:19px;
		margin:-1px 9px 0 0;
		vertical-align:middle;
		background:url(../../img/checkbox_oncheck.png) no-repeat;
		cursor:pointer;
	}
	&__input:checked + label span {
		background:url(../../img/checkbox_check.png) no-repeat;
	}

	&__table {
		font-size: 16px;
		font-family: Scada-bold; 
		line-height: 1;
		color: #000;
		margin-bottom: 5px;
		
		& td {
			padding: 0 @sp*2 11px 0; 
			text-align: center;
		}
		
		& tr td:first-child {
			color: #a1a1a1;
			font-family: Scada; 
			text-align: left;
		}
	}


	&__textarea {
		width: 100%;
		border: 2px solid #dddfe3;
		resize: none;
		padding: 5px;
		font-size: 16px;
		float: left;
		box-sizing: border-box;
		font-family: Scada;
		height: 100px;
		outline: none;
		&:focus {
			border: 2px #01aeea solid;
		}
	}
	&__btns {
		text-align: center;
		height: 40px;
		margin-top: 35px;
		margin-bottom: 10px;
		.clearfix;
		.btn {
			display: inline-block;
			width: 245px !important;
			font-size: 17px;
			line-height: 17px;
		}
	} 
}