.teatcher {
	overflow: visible;
	.sert__input {
		height: 40px;
		width: calc(~"100% - 178px");
		font-family: Scada;
		&_dp {
			width: 100%;
		}

		&_date {
			width: 160px;
		}
	}


	.sert__block_row {
		padding-top: 10px;
	}
	.sert__name_w {
		width: 178px;
		span {
			font-size: 14px;
			margin-top: 10px;
			font-family: Scada-Italic; 
			line-height: 1.1;
			display: block;
		}
	}
	.sert__hr {
		margin: 25px 0 15px;
		color: #a1a1a1;
	}
	.sert__block-gray {
		width: 100%;
	}
	&__title {
		font-family: Scada-bold; 
		font-size: 22px;
		margin-bottom: 10px;
		color: black;
		cursor: pointer;
		i {
			margin-right: @sp;
			transform: rotate(-180deg);
			display: block;
			float: left;
			margin-top: 5px;
			transition: all 0.2s !important;
		}
		&.active {
			i {
				transform: rotate(0deg);
			}
		}
		span {
			font-size:14px;
			color: #9b9b9b;
			font-family: Scada-Italic;
		}
	}
	&__infoblock { 
		&.close {
			display: none;
		}
	}
	&__item {
		.clearfix;
		margin: 25px 0;
		&-left {
			width: calc(~"100% - 178px");
			float: left;
		}
		sup {
			position: relative;
			top: 0px;
			color: #eb5427;
			font-size: 1.2em;
		}

		&_time-xperience {
		    display: inline-block;
		    font-family: Scada;
		    font-size: 16px;
		    line-height: 2.3;			
			& .teatcher__label {
				float: left;
			}

			& .sert__input_date {
				float: left;
				margin-right: 5px;
			}

			& .teatcher__line-input {
				line-height: 0;
			}
		}

	    &_work-experience {
	    	width: 48%;
	    	float: left;
		    color: #a1a1a1;
		    font-size: 16px;
		    line-height: 1.125em;
		    font-family: 'Scada';
		    box-sizing: border-box;
		    
		    &:last-child {
		    	float: right;
		    }
	    	
	    	&-name {
	    		width: 55%;
	    		float: left;
	    	}

	    	& .sert__input {
	    		width: 45%;
	    		float: right;
	    	}
	    }

		&_strit {
			width: 380px;
			float: left;
			
			&-name {
				float: left;
				width: 178px;
				text-align: left;
				color: #a1a1a1;
				padding-right: 30px;
				font-size: 16px;
				line-height: 1.125em;
				font-family: 'Scada';
				box-sizing: border-box;
			}
			.sert__input {
				width: 200px;
				float: left;
			}
		}
		&_home {
			margin-left: @sp;
			width: 150px;
			float: left;
			&-name {
				float: left;
				width: 50px;
				text-align: left;
				color: #a1a1a1;
				padding-right: 30px;
				font-size: 16px;
				line-height: 1.125em;
				font-family: 'Scada';
				box-sizing: border-box;
			}
			.sert__input {
				width: 100px;
				float: left;
			}
		}
		&_apartment {
			margin-left: @sp;
			width: 110px;
			float: left;
			&-name {
				float: left;
				width: 35px;
				text-align: left;
				color: #a1a1a1;
				padding-right: 30px;
				font-size: 16px;
				line-height: 1.125em;
				font-family: 'Scada';
				box-sizing: border-box;
			}
			.sert__input {
				width: 75px;
				float: left;
			}
		}
	}
<<<<<<< HEAD


	&__line {
		.clearfix;
		&-input {
			float: left;
			width: 495px;
			position: relative;
		}
	}

    &__input {
        display:none;
    }
    &__label {
        display: inline-block;
        font-family: Scada;
        font-size: 16px; 
        margin-top: 10px;   
    }
    &__input + label span {
        display:inline-block;
        width:19px;
        height:19px;
        margin:-1px 9px 0 0;
        vertical-align:middle;
        background:url(../../img/checkbox_oncheck.png) no-repeat;
        cursor:pointer;
    }
    &__input:checked + label span {
        background:url(../../img/checkbox_check.png) no-repeat;
    }

    &__table {
		font-size: 16px;
		font-family: Scada-bold; 
		line-height: 1;
		color: #000;
		margin-bottom: 5px;
		
		& td {
			padding: 0 @sp*2 11px 0; 
			text-align: center;
		}
		
		& tr td:first-child {
			color: #a1a1a1;
			font-family: Scada; 
			text-align: left;
		}
    }


	&__textarea {
		width: calc(~"100% - 178px");
		border: 2px solid #dddfe3;
		resize: none;
		padding: 5px;
		font-size: 16px;
		float: left;
		box-sizing: border-box;
		font-family: Scada;
		height: 100px;
	}
}