.all-events {
	&__h1 {
		margin: 0;
		padding: 0;
		padding-bottom: 30px;
		font-weight: bold; 
		line-height: 1;
		float: left;
		font-size: 21px;
	}

	&-white-top__form {
		padding: 20px @sp*2 70px @sp*2; 
		border: 3px solid #000;
		border-top: 0px;
		margin-bottom: 40px;
	}


}

.ColorBlack {
	.all-events {
		color: #fff;
		
		&__h1 {
			color: #fff;
		}

		&-white-top__form {
			border: 3px solid #fff;
			border-top: 0px;
		}

	}
}


.ColorBlue {
	.all-events {
		color: @blue-dark;
		
		&__h1 {
			color: @blue-dark;
		}	

		&-white-top__form {
			border: 3px solid @blue-dark;
			border-top: 0px;
		}	
	}
}