.btn {
	height: 40px;
	border: none;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
	padding: 0 15px;
	width: 100%;
	min-width: 100px;
	outline: none;
	font-size: 17px !important;
	letter-spacing: normal;
	border: 3px solid transparent;

	&_black {
		background: black;
		color: white;
		&.active {
			background: white;
			border: 3px solid black; 
			color: black;
		}
		&:disabled {
			background: #7f7f7f;
		}

	}
	&_left {
		display: block;
		width: auto;
		float: left;
		margin-right: @sp/3;
	}
	&_right {
		display: block;
		float: right;
		width: auto;
		margin-left: @sp/3;
	}
	&_lk {
		width: calc(~"100% - 108px");
		margin-right: 3px;
	}

	
	&_arial {
		font-family: Arial !important;
	}

	&_times {
		font-family: TimesNewRoman, "Times New Roman" !important;
		font-weight: normal;
		padding: 0 20px;
		font-size: 16px !important; 
	}
	&_mid {
		letter-spacing: 0.2em !important;
		padding: 0 20px;
	}
	&_big {
		letter-spacing: 0.5em !important;
		padding: 0 20px;
	}

	&-block {
		margin-bottom: @sp*2;
	}

}


.ColorBlack {
	.btn {
		&_black {
			background: white;
			color: black;
			&.active {
				background: none;
				color: white;
			}
		}
	}
}


.ColorBlue {
	.btn {
		&_black {
			background: @blue-dark;
 
			color: @blue;
			&.active {
				background: none;
				color: @blue-dark;
			}
		}
	}
}