.contacts {
	&__info,
	&_photo {
		span {
			font-weight: bold;
			float: left;
			margin-right: 5px;
		}
	}
}

.ColorBlack {
	.contacts {
		ul,
		a {
			color: #FFF;
		}
	}
}


.ColorBlue {
	.contacts {
		ul,
		a {
			color: @blue-dark;
		}
	}
}

.fontSizeSmall {
	.contacts {
		h2 {
			font-size: 21px;
		}
	
		
	}
}
.fontSizeMedium {
	.contacts {
		h2 {
			font-size: 21px;
		}
	}
}
.fontSizeBig {
	.contacts {
		h2 {
			font-size: 21px;
		}
	}
}