
.management {

	&__h1 {
		color: #000;
		font-size: 21px;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}

	.link-all {
		padding-bottom: 50px;
	}
	.clearfix;
	
	&_border-bottom {
		padding-bottom: 35px;
		border-bottom: 3px solid #000;
	}

	&__text {
		font-weight: bold;
		margin-bottom: 20px;
		line-height: 1.6;
		
		&_mb-0 {
			margin-bottom: 0;
		}
	}

	&__block {
		border-top: 3px solid #000;
		padding-top: 40px;
		
		&_bt-0 {
			border-top: 0px solid #000 !important;
			padding-top: 35px;
		}
	}

	&__comments {
		&__button-play {
			margin: 40px 0;

			a {
				background: black;
				color: white;
				display: inline-block;
				height: 40px;
				line-height: 40px;
				border: none;
				text-align: center;
				border-radius: 5px;
				font-weight: bold;
				padding: 0 15px;
				outline: none;
				text-decoration: none;
				&:hover, &:focus, &:visited {
					color: white;
					text-decoration: none;
				}
			}
			
		}
		&__date {
			margin-top: 20px;
			margin-bottom: 20px;
			.icon-clock {
				font-family: Arial !important;
				&:before {
					content:'';
				}

			}
		}
	}
	&__title {
		.clearfix;
		color: black;
		margin-bottom: 10px !important;
		
	}

	&__surname,
	&__name {
		display: inline-block;
		font-size: 21px;
		font-weight: bold;
	}

	&__post {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: @sp/3;
	}

	&__photo {
		display: none;
	}

}


.fontSizeSmall {
	.management {
		&__title {
			font-size: 21px;
			font-weight: bold;
			margin-bottom: 40px;
		}

		&__surname,
		&__name,
		&__h1 {
			font-size: 21px;
		}

		&__post {
			font-size: 14px;
		}
	}
}
.fontSizeMedium {
	.management {
		&__title {
			font-size: 25px;
			font-weight: bold;
			margin-bottom: 40px;
		}

		&__surname,
		&__name,
		&__h1 {
			font-size: 25px;
		}

		&__post {
			font-size: 17px;
		}
	}
}
.fontSizeBig {
	.management {
		&__title {
			font-size: 36px;
			font-weight: bold;
			margin-bottom: 40px;
		}

		&__surname,
		&__name,
		&__h1 {
			font-size: 36px;
		}

		&__post {
			font-size: 23px;
		}

		&__comments {
			&__button-play {
				a {
					padding: 0 30px;
					line-height: 50px;
					height: 50px;
				}
			}
		}
	}
}

.ColorBlack {
	.management {
		*{
			color: white;
		}

		&__block {
			border-top: 3px solid #fff;
		}

		&_border-bottom {
			border-bottom: 3px solid #fff;
		}
		
	}
}
.ColorBlue {
	.management {
		*{
			color: @blue-dark;
		}

		&__block {
			border-top: 3px solid @blue-dark;
		}

		&_border-bottom {
			border-bottom: 3px solid @blue-dark;
		}
		
	}
}