.registration {
	.viz-modal__box-name {
		padding-bottom: 7px;
	}
	&__soc {
		// background: red;
		margin: 35px 0;
		.clearfix; 
		&-list {
			padding-left: 0;
		}
		&-item {
			margin-bottom: 7px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-link {
			text-decoration: none;
			i {
				width: 40px;
				height: 40px;
				background: black;
				color: white;
				margin-right: 8px;
				font-size: 23px;
				line-height: 40px;
				display: inline-block;
				text-align: center;
				border-radius: 50%;
				letter-spacing: normal;
			}
			span {
				text-decoration: underline;
				color: black;
				font-size: 14px;
				font-weight: bold;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__reglist {
		margin-top: 35px;
		.clearfix;
		&-item {
			margin-bottom: 25px;
		}
		&-title {
			font-weight: bold;
			font-size: 21px;
			color: black;
			padding-bottom: 7px;
		}
		&-text {
			font-size: 14px;
			color: black;
			margin-bottom: 7px;
		}
		&-btn-right {
			float: right;
			width: 200px;
		}
	}
	&__pass {
		margin-bottom: 15px;

		.clearfix;
		.registration__reglist-input {
			float: left;
			width: calc(~"100% - 210px");
		}
	}
	&__captcha {
		&-place {
			background: #dedede;
			min-height: 70px; 
			margin-top: 25px;
			margin-bottom: 15px;
			padding:0 10px;
			.clearfix;
		}
		&-btns {
			margin-bottom: 15px;
			.clearfix;
		}
	}
	&__footer {
		border-top: 3px solid #989898;
		margin-top: 30px;
		padding-top: 30px;
		.clearfix;
		&-text {
			font-size: 14px;
		}
		&-link {
			font-weight: bold;
			text-decoration: underline;
			font-size: 14px;
			color: black;
			&:hover,
			&:active {
				color: black;
			}
		}
	}
}

.fontSizeSmall {
	.registration {
		&__reglist-title {
			font-size: 21px;
		}
		&__soc-link span, 
		&__reglist-text,
		&__footer-text,
		&__footer-link {
			font-size: 14px;
		}

		&__captcha-place {
			font-size: 17px;
		}
		
	}
}
.fontSizeMedium {
	.registration {
		&__reglist-title {
			font-size: 25px;
		}
		&__soc-link span, 
		&__reglist-text,
		&__footer-text,
		&__footer-link {
			font-size: 19px;
		}

		&__captcha-place {
			font-size: 19px;
		}
	}
}
.fontSizeBig {
	.registration {
		&__reglist-title {
			font-size: 36px;
		}
		&__soc-link span, 
		&__reglist-text,
		&__footer-text,
		&__footer-link {
			font-size: 25px;
		}

		&__captcha-place {
			font-size: 25px;
		}
	}
}



.ColorBlack {
	.registration {

		&__footer {
			border-top: 3px solid #fff;
		}

		&__soc-link {
			i {
				background: #fff;
				color: #000;
			}
		}

		&__captcha-place {
			background-color: #fff;
			color: #000;
		}


	}
}


.ColorBlue {
	.registration {
		&__footer {
			border-top: 3px solid @blue-dark;
		}

		&__soc-link {
			i {
				background: @blue-dark;
				color: @blue;
			}
		}

		&__captcha-place {
			background-color: @blue-dark;
			color: @blue;
		}
	}
}