.activities-calendar {
	.data-block__wrap {
		display: none;
	}
	&__title-h2 {
		width: 100%;
		font-size: 36px;
		text-align: center;
		line-height: 1.1;
		display: block;
		float: none;
		margin-bottom: 20px;
		 
	}
	&__header {
		width: 100%;
		height: auto;
		.col-xs-12 {
			float: none;
		}
	}
	&__return {
		width: 100%;
		float: none;
		line-height: 1.1;
		text-align: center;
		&-link {
			line-height: 1.1;
		}
		
	}
}