.commonpages {
	&__history {
		width: 100%;
		.one-event__contact-header {
			display: block;
			margin:  20px 0 10px;
		}
	}
	&__docs {
		width: 100vw;
		margin: 0;
		padding: 18px;
		background: red;
		&__image {
			display: none;

		}
		&-wrap {
			box-sizing: border-box; 
			background: green;
			.one-news__text {
				margin: 0;
			}
		}
	}
}