.management {
	width: 100%;
	.row {
		margin-left: 0;
		margin-right: 0;
		.col-xs-12 {
			padding-left: 0;
			padding-right: 0;
			
		}
	}
	&__h1 {
		font-size: 36px;
		padding: 30px 18px 15px;
	}
	&__block {
		display: block;
		
		padding: 18px !important;
	}
	&__photo {
		float: none;
		width: 100%;
		margin: 0;
	}
	&__img {
		width: 100% !important;
		height: auto !important;
	}
	&__content {
		float: none;
	}
	&__wrap {
		// width: calc(~"100% - 30px");
		width: 100%;
		background: white;
	}
	&__content {
		width: 100%;
		text-align: center;
	}
	&__title {
		margin-bottom: 20px !important;
		font-size: 36px !important;
		text-transform: none !important;
	}
	&__text {
		font-family: Scada-Bold;
		font-size: 18px !important;
	}
	&__comments {
		&__button-play {
			display: none;
		}
		&__text {
			font-size: 18px !important;
			text-align: left;
			margin-top: 20px;
		}
		&__date {
			margin-top: 20px !important;
			margin-bottom: 18px !important;
		}
	}
	

}