.teatcher {
	padding: 30px 40px !important; 
	box-sizing: border-box;
	height: calc(~'100vh - 85px');
	width: 100vw;
	overflow-y: scroll;

	&__title {
		display: block;
		width: auto;
		text-transform: uppercase;
		font-size: 20px;
		&-top {
			background: white;
			text-align: left;
			height: 85px;
			box-sizing: border-box;
			line-height: 85px;
			padding-left: 40px;
			margin: 0;
			font-size: 24px;
			font-family: Scada;
		}
		&-hint {
			display: block;
			baacraund: red;
			font-size: 14px;
			text-transform: none;
		}
	}
	.sert__block_row {
		display: block;
	
		width: calc(~"100vw - 80px");
		box-sizing: border-box;
		padding-top: 20px;
		&_mt {
			padding-top: 5px;
		}	
	}
	.sert__name_w {
		width: 100%;
		display: block;
		margin-bottom: 5px;
	}
	
	.datepicer__wrap {
		width: 100%;
	}
	.sert__input_dp {
		width: 100%;
	}
	&__item {
		&_strit {
			width: 100%;
			float: none;
			margin-bottom: 10px;
			.clearfix;
			&-name {
				display: block;
				width: 100%;
				margin-bottom: 5px;
			}
			.sert__input {
				width: 100%;

			}
		}
		&_home, &_apartment {
			width: 45%;
			float: left;
			padding: 0;
			margin: 0;
			&-name {
				width: 100%;
				display: block;
				float: none;
				margin-bottom: 5px;
				.clearfix;
			}
			.sert__input {
				float: none;
				width: 100%;
			}
		}
		&_apartment {
			float: right;
		}
		&-left {
			
			.clearfix;
			.sert__block-gray {

				width: 185px;
				float: none;
				background: #01aeea;
				height: 50px;
				padding: 13px;
				text-align: center;
				opacity: 1;
				margin-top: 5px;
				&:before {
					content: 'Выбрать файл';
					color: white;
					text-transform: uppercase;
					font-family: Scada-bold;
					font-size: 20px;

				}

			}
		}
	}

}
.TopNews {
	display: none;
}






